/// Colours

/*
95 - 50
90 - 100
80 - 200
70 - 300
60 - 400
50 - 500
40 - 600
30 - 700
20 - 800
10 - 900
5 - 950
*/

$clr-yellow-50: hsl(53, 90%, 99%);
$clr-yellow-100: hsl(53, 90%, 89%);
$clr-yellow-hex: #faef9b;
$clr-yellow-200: hsl(53, 90%, 79%);
$clr-yellow-300: hsl(53, 90%, 69%);
$clr-yellow-400: hsl(53, 90%, 59%);
$clr-yellow-500: hsl(53, 90%, 49%);
$clr-yellow-600: hsl(53, 90%, 39%);
$clr-yellow-700: hsl(53, 90%, 29%);
$clr-yellow-800: hsl(53, 90%, 19%);
$clr-yellow-900: hsl(53, 90%, 9%);
$clr-yellow-950: hsl(53, 90%, 5%);

$clr-orange-50: hsl(45, 88%, 91%);
$clr-orange-100: hsl(45, 88%, 81%);
$clr-orange-200: #f6d776;
$clr-orange-200: hsl(45, 88%, 71%);
$clr-orange-300: hsl(45, 88%, 61%);
$clr-orange-400: hsl(45, 88%, 51%);
$clr-orange-500: hsl(45, 88%, 41%);
$clr-orange-600: hsl(45, 88%, 31%);
$clr-orange-700: hsl(45, 88%, 21%);
$clr-orange-800: hsl(45, 88%, 11%);
$clr-orange-900: hsl(45, 88%, 5%);
$clr-orange-950: hsl(45, 88%, 3%);

$clr-teal-50: hsl(186, 26%, 95%);
$clr-teal-100: hsl(186, 26%, 85%);
$clr-teal-200: hsl(186, 26%, 75%);
$clr-teal-300: hsl(186, 26%, 65%);
$clr-teal-hex: #6da4aa;
$clr-teal-400: hsl(186, 26%, 55%);
$clr-teal-500: hsl(186, 26%, 45%);
$clr-teal-600: hsl(186, 26%, 35%);
$clr-teal-700: hsl(186, 26%, 25%);
$clr-teal-800: hsl(186, 26%, 15%);
$clr-teal-900: hsl(186, 26%, 5%);
$clr-teal-950: hsl(186, 26%, 3%);

$clr-green-50: hsl(197, 15%, 96%);
$clr-green-100: hsl(197, 15%, 86%);
$clr-green-200: hsl(197, 15%, 76%);
$clr-green-300: hsl(197, 15%, 66%);
$clr-green-400: hsl(197, 15%, 56%);
$clr-green-hex: #647d87;
$clr-green-500: hsl(197, 15%, 46%);
$clr-green-600: hsl(197, 15%, 36%);
$clr-green-700: hsl(197, 15%, 26%);
$clr-green-800: hsl(197, 15%, 16%);
$clr-green-900: hsl(197, 15%, 6%);
$clr-green-950: hsl(197, 15%, 3%);
