// General Custom Styles
:root {
  --content-width: theme("screens.xl");
  --flow-spacer: theme("spacing.2");
}

:focus {
  outline: 2px solid theme("colors.neutral.950");
  border: 2px solid theme("colors.neutral.50");
}

body {
  font-family: theme("fontFamily.sans");
  font-size: theme("fontSize.base");
  color: theme("colors.gray.900");
  background-color: theme("colors.saYellow.200");
  position: relative;

  &.theme-dark,
  [data-theme="dark"] & {
    color: theme("colors.gray.50");
    background-color: theme("colors.gray.900");
  }
}

a {
  --_a-clr: theme("colors.saGreen.500");
  --_a-td: none;

  --_a-hover-clr: theme("colors.saGreen.500");
  --_a-hover-td: underline;

  color: var(--_a-clr);
  text-decoration: var(--_a-td);

  &:hover {
    color: var(--_a-hover-clr);
    text-decoration: var(--_a-hover-td);
  }
}

.flow {
  --_flow-spacer: var(--flow-spacer);

  & > * + * {
    margin-block-start: var(--_flow-spacer);
  }
}

.clickable {
  cursor: pointer;
}

.wrapper {
  --_wrapper-width: var(--content-width);

  width: min(100%, var(--_wrapper-width));
}

.content-grid {
  --_width: var(--content-width);

  display: grid;
  grid-template-columns: 0.1fr [breakout-start] 0.2fr [content-start] 1fr [content-end] 0.2fr [breakout-end] 0.1fr;

  & > * {
    grid-column: content;
  }

  &-breakout {
    & > * {
      grid-column: breakout;
    }
  }

  &-full-width {
    & > * {
      grid-column: full-width;
    }
  }
}

ul,
ol {
  &.list {
    padding-inline-start: theme("padding.5");
  }
}

ul.list {
  list-style-type: disc;
}

ol.list {
  list-style-type: decimal;
}

.text-grid {
  --_text-width: 20ch;
  --_spacer: var(--v-400);

  display: grid;
  grid-template-columns: var(--_text-width) auto;
  align-items: end;
  gap: var(--_spacer);
}

.container-q {
  container-name: container-q;
  container-type: inline-size;

  &-primary-main {
    container-name: container-q-primary-main;
  }
}
