/// Gallery

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: theme("spacing.4");

  > img {
    width: min(100%, 400px);
    border: thin solid theme("colors.gray.50");
  }
}
