---
import Main from "../layouts/main.astro"
import IndexHeader from "../components/index-header.astro"
---
<Main>
	<IndexHeader />

	<main class="primary-main">
		<div class="wrapper container-q container-q-primary-main | flow mx-auto p-4">
			<div class="card-grid">
				<a href="#" class="card card-top-rated">
					<div class="card__images">
						<img src="/src/assets/images/apple-pie-0001.jpg" alt="Apple Pie 1" srcset="">
						<img src="/src/assets/images/apple-pie-0002.jpg" alt="Apple Pie 2" srcset="">
						<img src="/src/assets/images/apple-pie-0003.jpg" alt="Apple Pie 3" srcset="">
						<img src="/src/assets/images/apple-pie-0004.jpg" alt="Apple Pie 4" srcset="">
					</div><!-- ./card__images -->

					<div class="card__body | flow">
						<h2 class="text-2xl font-bold">Post Title</h2>

						<div class="card__rating">
							<i class="fa-solid fa-sharp fa-star"></i>
							<i class="fa-solid fa-sharp fa-star"></i>
							<i class="fa-solid fa-sharp fa-star"></i>
							<i class="fa-solid fa-sharp fa-star"></i>
							<i class="fa-solid fa-sharp fa-star"></i>
						</div><!-- card__rating -->

						<div class="card__content">
							<div class="card__content__icon">
								<i class="fa-duotone fa-earth-asia"></i>
							</div><!-- ./card__content__icon -->
							<div class="card__content__content">
								{["Pasta Fresca", "Bukit Timah", "Singapore"].join(", ")}
							</div>
						</div><!-- ./card__content__content -->

						<div class="card__content">
							<div class="card__content__icon">
								<i class="fa-duotone fa-calendar"></i>
							</div><!-- ./card__content__icon -->
							<div class="card__content__content">
								11 Jan 2024
							</div>
						</div><!-- ./card__content__content -->
					</div><!-- ./card__body -->
				</a>

				<a href="#" class="card">
					<div class="card__images">
						<img src="/src/assets/images/apple-pie-0001.jpg" alt="Apple Pie 1" srcset="">
						<img src="/src/assets/images/apple-pie-0002.jpg" alt="Apple Pie 2" srcset="">
						<img src="/src/assets/images/apple-pie-0003.jpg" alt="Apple Pie 3" srcset="">
						<img src="/src/assets/images/apple-pie-0004.jpg" alt="Apple Pie 4" srcset="">
					</div><!-- ./card__images -->

					<div class="card__body | flow">
						<h2 class="text-2xl font-bold">Post Title</h2>

						<div class="card__rating">
							<i class="fa-solid fa-sharp fa-star"></i>
							<i class="fa-solid fa-sharp fa-star"></i>
							<i class="fa-solid fa-sharp fa-star"></i>
						</div><!-- card__rating -->

						<div class="card__content">
							<div class="card__content__icon">
								<i class="fa-duotone fa-earth-asia"></i>
							</div><!-- ./card__content__icon -->
							<div class="card__content__content">
								{["Pasta Fresca", "Bukit Timah", "Singapore"].join(", ")}
							</div>
						</div><!-- ./card__content__content -->

						<div class="card__content">
							<div class="card__content__icon">
								<i class="fa-duotone fa-calendar"></i>
							</div><!-- ./card__content__icon -->
							<div class="card__content__content">
								11 Jan 2024
							</div>
						</div><!-- ./card__content__content -->
					</div><!-- ./card__body -->
				</a>

				<a href="#" class="card">
					<div class="card__images">
						<img src="/src/assets/images/apple-pie-0001.jpg" alt="Apple Pie 1" srcset="">
						<img src="/src/assets/images/apple-pie-0002.jpg" alt="Apple Pie 2" srcset="">
						<img src="/src/assets/images/apple-pie-0003.jpg" alt="Apple Pie 3" srcset="">
						<img src="/src/assets/images/apple-pie-0004.jpg" alt="Apple Pie 4" srcset="">
					</div><!-- ./card__images -->

					<div class="card__body | flow">
						<h2 class="text-2xl font-bold">Post Title</h2>

						<div class="card__rating">
							<i class="fa-solid fa-sharp fa-star"></i>
							<i class="fa-solid fa-sharp fa-star"></i>
							<i class="fa-solid fa-sharp fa-star"></i>
						</div><!-- card__rating -->

						<div class="card__content">
							<div class="card__content__icon">
								<i class="fa-duotone fa-earth-asia"></i>
							</div><!-- ./card__content__icon -->
							<div class="card__content__content">
								{["Pasta Fresca", "Bukit Timah", "Singapore"].join(", ")}
							</div>
						</div><!-- ./card__content__content -->

						<div class="card__content">
							<div class="card__content__icon">
								<i class="fa-duotone fa-calendar"></i>
							</div><!-- ./card__content__icon -->
							<div class="card__content__content">
								11 Jan 2024
							</div>
						</div><!-- ./card__content__content -->
					</div><!-- ./card__body -->
				</a>

				<a href="#" class="card">
					<div class="card__images">
						<img src="/src/assets/images/apple-pie-0001.jpg" alt="Apple Pie 1" srcset="">
						<img src="/src/assets/images/apple-pie-0002.jpg" alt="Apple Pie 2" srcset="">
						<img src="/src/assets/images/apple-pie-0003.jpg" alt="Apple Pie 3" srcset="">
						<img src="/src/assets/images/apple-pie-0004.jpg" alt="Apple Pie 4" srcset="">
					</div><!-- ./card__images -->

					<div class="card__body | flow">
						<h2 class="text-2xl font-bold">Post Title</h2>

						<div class="card__rating">
							<i class="fa-solid fa-sharp fa-star"></i>
							<i class="fa-solid fa-sharp fa-star"></i>
							<i class="fa-solid fa-sharp fa-star"></i>
						</div><!-- card__rating -->

						<div class="card__content">
							<div class="card__content__icon">
								<i class="fa-duotone fa-earth-asia"></i>
							</div><!-- ./card__content__icon -->
							<div class="card__content__content">
								{["Pasta Fresca", "Bukit Timah", "Singapore"].join(", ")}
							</div>
						</div><!-- ./card__content__content -->

						<div class="card__content">
							<div class="card__content__icon">
								<i class="fa-duotone fa-calendar"></i>
							</div><!-- ./card__content__icon -->
							<div class="card__content__content">
								11 Jan 2024
							</div>
						</div><!-- ./card__content__content -->
					</div><!-- ./card__body -->
				</a>
			</div>
		</div>
	</main>
</Main>