---
import dayjs from "dayjs"
import Main from "../layouts/main.astro"
import IndexHeader from "../components/index-header.astro"
import Card from "../components/card.astro"

const posts = await Astro.glob("./posts/*.md")
posts.sort((a, b) => dayjs(b.frontmatter.date).unix() - dayjs(a.frontmatter.date).unix())
---
<Main>
	<IndexHeader />

	<main class="primary-main">
		<div class="wrapper container-q container-q-primary-main | flow mx-auto p-4">
			<div class="card-grid">
				{posts.map((post: any) => <Card post={post} />)}
			</div>
		</div>
	</main>
</Main>